.Edit_submenu{
    position: fixed;           
    left: 36px;                 
    top: 31px; 
    color: rgb(45, 42, 46);
    width: 200px;
    height: 200px;
    background-color: aqua;
    z-index: 1001;    
}
.Setting_submenu{
    position: fixed;           
    left: 91px;                 
    top: 31px;
    color: rgb(45, 42, 46);
    width: 200px;
    height: 200px;
    background-color: aqua;
    z-index: 1001;             
}
.About_submenu{
    position: fixed;           
    left: 146px;                 
    top: 31px; 
    color: rgb(45, 42, 46);
    width: 200px;
    height: 200px;
    background-color: aqua;
    z-index: 1001;
}