.File_submenu{
    position: fixed;           
    left: 36px;                 
    top: 31px; 
    width: 200px;
    height: 100px;
    background-color: rgb(38, 36, 39);
    z-index: 1001;
}
.Edit_submenu{
    position: fixed;           
    left: 91px;                 
    top: 31px; 
    width: 200px;
    height: 150px;
    background-color: rgb(38, 36, 39);
    z-index: 1001;    
}

.Setting_submenu{
    position: fixed;           
    left: 146px;                 
    top: 31px;
    width: 200px;
    height: 200px;
    background-color: rgb(38, 36, 39);
    z-index: 1001;             
}
